html,
body {

    background: linear-gradient(#E9FCD9, white);
    margin: 0;
    padding: 0;
    height: 100%;
}

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * variex:
 *   - http://typekit.com/eulas/00000000000000007735b2b5
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-05-09 20:52:19 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=nlj0wat&ht=tk&f=28562&a=21662798&app=typekit&e=css");

@font-face {
    font-family: "variex";
    src: url("https://use.typekit.net/af/96f562/00000000000000007735b2b5/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/96f562/00000000000000007735b2b5/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/96f562/00000000000000007735b2b5/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
}

.tk-variex {
    font-family: "variex", sans-serif;
}

body {

    /* background: linear-gradient(#E9FCD9, white);
    margin: 0; */
    /* display: flex; */

    /* This centers our sketch horizontally. */
    /* justify-content: center; */

    /* This centers our sketch vertically. */
    /* align-items: center; */
}

.classe {
    padding: 0;

    display: flex;

    flex-direction: column;

    margin: 0;

    position: fixed;

    justify-content: space-around;

    /* set position */
    top: 150px;
    right: 30px;


}

header {
    margin: 2.5%;
    display: flex;
    justify-content: space-between;
}

h1 {
    padding: 0em 0em;
    font-family: 'variex', sans-serif;
    font-size: 1.75em;
    font-weight: 500;
    color: #61AA0E;

}

button {
    display: inline-block;
    background-color: transparent;
    padding: 0.5em 2em;
    border: 0.16em solid #61AA0E;
    margin: 0 2em 3em 0;
    box-sizing: border-box;
    text-decoration: none;

    font-family: 'variex', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #61AA0E;
    text-align: left;
    transition: all 0.15s;
    width: 15em;
}

/* 
button:hover {
    color: #DDDDDD;
    border-color: #DDDDDD;
}

button:active {
    color: #BBBBBB;
    border-color: #BBBBBB;
} */

.active:active {
    color: #BBBBBB;
}

@media all and (max-width:30em) {
    button {
        display: block;
        margin: 0.4em auto;
    }
}

/*************************************************/

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
}

.menu-btn__burger {
    width: 50px;
    height: 6px;
    background: #61AA0E;
    border-radius: 5px;
    box-shadow: 0 2px 5px #E9FCD9;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #61AA0E;
    border-radius: 5px;
    box-shadow: 0 2px 5px #E9FCD9;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    transform: translateY(16px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.to-hide {
    display: none;
    visibility: hidden;
    transition: all 0.2s all;
}

/*************************************************/